<!--Main template-->
<ng-template #layout>
    <!--card actions-->
    <ng-template #cardHeadButtonTpl>
        <button mat-icon-button [mat-dialog-close]="true" (click)="goSelf()" matTooltip="Advanced Configuration"
                matTooltipPosition="before">
            <mat-icon>fullscreen</mat-icon>
        </button>
    </ng-template>

    <ng-template #cardBodyTpl>
        <ng-container *ngFor="let p of pool | async">
            <mat-toolbar color="warn">
                <app-custom-table [title]="p.hostname" [type]="'head'"></app-custom-table>
                <span class="item-spacer"></span>
                <a mat-icon-button (click)="appMapping(p.pool)" matTooltip="Application Mapping"
                   matTooltipPosition="before">
                    <mat-icon>insert_chart</mat-icon>
                </a>
            </mat-toolbar>
             <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <ng-container *ngFor="let key of objectKeys(p); let index=index">
                        <ng-container *ngIf="index < 5 || !isDialog">
                            <tr>
                                <td class="active table-title">{{key}}</td>
                                <td>{{p[key]}}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </table>
            </div>
        </ng-container>

    </ng-template>

    <ng-template #cardBodyVirtualTpl>
        <ng-container *ngFor="let v of virtualservers | async">
            <mat-toolbar color="warn">
                <app-custom-table [title]="v.hostname" [type]="'head'"></app-custom-table>
                <span class="item-spacer"></span>
                <a mat-icon-button (click)="appMappingGSLBPoolMember(v.member_address,v.member_port)"
                   matTooltip="Application Mapping"
                   matTooltipPosition="before">
                    <mat-icon>insert_chart</mat-icon>
                </a>
            </mat-toolbar>
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <tr>
                        <td class="active table-title">member_name</td>
                        <td><a [routerLink]="['/gslbvirtualserver', v.member_name]">{{v.member_name}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="active table-title">member_server_name</td>
                        <td>{{v.member_server_name}}</td>
                    </tr>
                    <tr>
                        <td class="active table-title">member_address</td>
                        <td>{{v.member_address}}</td>
                    </tr>
                    <tr>
                        <td class="active table-title">member_port</td>
                        <td>{{v.member_port}}</td>
                    </tr>
                    <tr>
                        <td class="active table-title">member_order</td>
                        <td>{{v.member_order}}</td>
                    </tr>
                    <tr>
                        <td class="active table-title">member_ratio</td>
                        <td>{{v.member_ratio}}</td>
                    </tr>
                </table>
            </div>
        </ng-container>
    </ng-template>
    <!--//-->
    <!--here display card -->
    <app-custom-card [title]="title"
                     [hasButton]=isDialog
                     [headButtonTpl]="cardHeadButtonTpl"
                     [bodyTpl]="cardBodyTpl">
    </app-custom-card>
    <ng-container *ngIf="!isDialog">
        <app-custom-card [title]="'Virtual'"
                         [bodyTpl]="cardBodyVirtualTpl">
        </app-custom-card>
    </ng-container>
    <!--//-->
</ng-template>

<!--Here display all content of main layout-->
<app-custom-layout [bodyTpl]="layout" [isDialog]="isDialog"></app-custom-layout>
