<form [formGroup]="form">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
         fxLayoutAlign="space-around start" fxLayoutGap="10px">
        <app-icon-svg [icon]="deviceType" [size]="48"></app-icon-svg>

        <div class="flex-item" fxFlex="80%">
            <mat-form-field class="input-full-width">
                <input id="aws_access_key_id" name="aws_access_key_id" matInput type="text"
                       placeholder="aws_access_key_id" input [(ngModel)]="aws_access_key_id"
                       formControlName="aws_access_key_id">
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
         fxLayoutAlign="space-around center" fxLayoutGap="10px">

        <div class="flex-item" fxFlex>
            <mat-form-field class="input-full-width">
                <input id="aws_secret_access_key" name="aws_secret_access_key" matInput placeholder="aws_secret_access_key" input
                       [(ngModel)]="aws_secret_access_key" formControlName="aws_secret_access_key">
            </mat-form-field>
        </div>

        <div class="flex-item" fxFlex="25%">
            <mat-checkbox id="getConfiguration" name="getConfiguration" color="primary"
                         [(ngModel)]="getConfiguration"
                         formControlName="getConfiguration">
                Get Configuration
            </mat-checkbox>
        </div>


    </div>
</form>
